@{
    ViewBag.Title = "Home";
}
<!--JUMBOTRON-->
<div class="jumbotron">
    <div id="jumboText">
        <h1>What The Font?!?!</h1>
        <p class="lead">Your [not so] official Google Fonts review site.</p>
    </div>
</div>
<!--3 CATEGORIES-->
<div class="row container">
    <div class="col-md-4 col-sm-12 col-xs-12 reviewBox">
            <h2 id="swanky">Fontdiner Swanky</h2>
            <h3>Super Dumb</h3>
            <p>
                "No sane human-being would use this font."
            </p>
            <p><a class="btn btn-default" href="~/Reviews/">Read More Reviews &raquo;</a></p>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 reviewBox">
            <h2 id="monty">Montserrat</h2>
            <h3>YAWN...</h3>
            <p>"The font is awesome if you're trying to put someone in a coma."</p>
            <p><a class="btn btn-default" href="~/Reviews/">Read More Reviews &raquo;</a></p>
    </div>
    <div class="col-md-4 col-sm-12 colo-xs-12 reviewBox">
            <h2 id="nova">Nova Oval</h2>
            <h3>Life Changing</h3>
            <p>"I never thought a font could change my life, but this one did..."</p>
            <p><a class="btn btn-default" href="~/Reviews/">Read More Reviews &raquo;</a></p>
    </div>
</div>